body {
    font-family: Varela Round;
    background: #f1f1f1;
}
.navbar {
    background-color: #606060;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: black;
}
.btn-danger {
    opacity: 70%;
}

